@model phishing.Models.Pergunta
@{
    ViewData["Title"] = "Pergunta";
}

<div class="numPergunta">(<div id="numPergunta" class="numPergunta">@Model.Num_Pergunta</div>/8)</div>

<div id="container" class="container">
    <div id="workspace" class="texto-principal">
        <h1>@Model.Titulo</h1>
        <p>
            @Model.Descricao
        </p>
        <button id="btnProxPergunta" style="display: none;" class='botao-alternativa' onclick='avancaProximaPergunta()'>PRÓXIMA PERGUNTA</button>
        <div id="respostas">
            <button class="botao-alternativa" onclick="clicou('P')">PHISHING</button>
            <button class="botao-alternativa" onclick="clicou('V')">VERDADEIRO</button>
        </div>
    </div>
    <div id="img-questao" class="formulario-questoes">
        <a href="drive--google.com" onclick="return false"><img src="~/static/q1.png" /></a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

    function clicou(ondeClicou) {

        var numPergunta = $('#numPergunta')[0].innerHTML;
        var respostaUsuario = ondeClicou;
        var acertou = false;

        var resposta = { NumPergunta: numPergunta, RespostaPergunta: respostaUsuario };

        $.ajax({
            type: "POST",
            url: '@Url.Action("SalvaResposta", "Pergunta")',
            data: JSON.stringify(resposta),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: false
        }).done(function (retorno) {
            acertou = retorno.acertou;
        }).fail(function () {
            alert("Error");
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("RespostaPergunta", "Pergunta")',
            data: JSON.stringify(resposta),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: false
            }).done(function(retorno) {
                if (acertou) {
                    $('#workspace h1').html('ACERTOU');
                }
                else {
                    $('#workspace h1').html('ERROU!');
                }
                $('#workspace p').html(retorno.descricaoResposta);
                $('#respostas').hide();
                $('#btnProxPergunta').show();
            }).fail(function () {
                alert("Error");
            })

        }
    function avancaProximaPergunta() {
        var numPergunta = $('#numPergunta')[0].innerHTML;
        console.log(parseInt(numPergunta)); //colocar o maior numero de pergunta do banco
        if (parseInt(numPergunta) <= 7) {
            $.get("/Pergunta/GetNextQuestion/" + numPergunta, null, function (data) {
                $('#workspace h1').html(data.titulo);
                $('#workspace p').html(data.descricao);
                $('#respostas').show();
                $('#btnProxPergunta').hide();
                $('#img-questao').html(data.srcImagem);
                $('#numPergunta').html(data.numPerguntaAtual);
            });
        } else {
            window.location.href = "/resultado/resultado";
        }
        
    }
    </script>
}



