@model phishing.Models.Pergunta
@{
    ViewData["Title"] = "Pergunta";
}

<div id="container" class="container">
    <div id="workspace" class="texto-principal">
        <h1>@Model.Titulo</h1>
        <p>
            @Model.Descricao
        </p>
        <div id="respostas">           
            <button class="botao-alternativa" onclick="clicou()">PHISHING</button>
            <button class="botao-alternativa" onclick="clicou()">VERDADEIRO</button>
        </div>
    </div>
    <div class="formulario-questoes">
        <a href="drive--google.com" onclick="return false"><img src="~/static/q1.png" /></a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    
    var rsp = document.getElementById("respostas");
    var questao = [];
    var nq = 1;
    var nAcertos = 0;

    function avancaProximaPergunta() {
        questao.push(1);
    }

        function clicou() {

            var np = "@Model.Num_Pergunta";
            var respostaCorreta = "@Model.Resposta";
            var resposta = { NumPergunta: nq, RespostaPergunta: respostaCorreta }; //não pega a resposta correta, pega sempre phishing

            console.log(respostaCorreta);

            rsp.addEventListener("click", function (event) {
                nq = questao.length;
                console.log(nq);

                if (event.target.innerHTML == "PHISHING" || event.target.innerHTML == "VERDADEIRO") {

                    $.ajax({
                        url: '@Url.Action("RespostaPergunta", "Pergunta")',
                        data: { NumPergunta: nq }
                    }).done(function (data) {
                        //console.log(data);
                        if (event.target.innerHTML != respostaCorreta) {
                            $('#workspace h1').html(data.mensagemErro);
                        } else {
                            $('#workspace h1').html(data.mensagemAcerto);
                            nAcertos++;

                        }
                        $('#workspace p').html(data.descricaoResposta);
                        $('#respostas').html(data.botaoProximaPergunta);
                    });

                    $.ajax({
                    type: "POST",
                    url: '@Url.Action("SalvaResposta", "Pergunta")',
                    data: JSON.stringify(resposta),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                    },
                    error: function () {
                        alert("Error");
                    }
                    });

                } else {              
                        $.ajax({
                        url: '@Url.Action("GetNextQuestion", "Pergunta")',
                        data: { NumPergunta: nq }
                    }).done(function (data) {
                        //console.log(data);
                        $('#workspace h1').html(data.titulo);
                        $('#workspace p').html(data.descricao);
                        $('.formulario-questoes').html(data.conteudoDiv);
                        $('#respostas').html(data.botaoRespostas);
                        //alert('passou 3 ajax');
                    });
                }
                       
            });
            
        }
    </script>
}



