@model phishing.Models.Pergunta
@{
    ViewData["Title"] = "Pergunta";
}

<div id="container" class="container">
    <div id="workspace" class="texto-principal">
        <h1>@Model.Titulo</h1>
        <p>
            @Model.Descricao
        </p>
        <div id="respostas">
            <button class="botao-alternativa" onclick="clicou()">PHISHING</button>
            <button class="botao-alternativa" onclick="clicou()">VERDADEIRO</button>
        </div>
    </div>
    <div class="formulario-questoes">
        <a href="drive--google.com" onclick="return false"><img src="~/static/q1.png" /></a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    var cont = document.getElementById("container");
    var rsp = document.getElementById("respostas");

    function clicou() {

        var np = @Model.Num_Pergunta;
        var respostaCorreta = "@Model.Resposta";

                rsp.addEventListener("click", function (event) {
                    if (event.target.innerHTML == respostaCorreta) {
                        //contador ++ & proxima questão
                        console.log("BOA");
                        var acerto = true;

                    } else {
                        //próxima questão
                        console.log("errou");
                        var acerto = false;
                        //resposta = {Num_Pergunta = np, Resposta: "Errada"};
                    }
                });

                //if (acerto) {
                //    var resposta = { Num_Pergunta = np, Resposta: respostaCorreta };
                //} else {
                //    var resposta = { Num_Pergunta = np, Resposta: "ERROU" };
                //}


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SalvaResposta", "Pergunta")',
                    data: JSON.stringify(resposta),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        console.log('Sucesso!');
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }

    @*function proximaPergunta() {

             $.ajax({
                     url: '@Url.Action("GetPerguntaByNumber", "Pergunta")',
                     type: 'GET',
                     dataType: 'json',
                     success: function (data, textStatus, xhr) {
                         console.log(data);
                     },
                     error: function (xhr, textStatus, errorThrown) {
                         console.log('Error in Operation');
                     }
             });*@

    //    //Pergunta 2

    //        function pergunta2() {
    //            cont.innerHTML = `<div id="workspace" class="texto-principal">
    //    <h1>Você recebeu um fax.</h1>
    //    <p>Sabemos que você não perde tempo, mas vá no seu ritmo.</p>
    //    <button class="botao-alternativa" onclick="clicou2()">PHISHING</button>
    //    <button class="botao-alternativa" onclick="clicou2()">VERDADEIRO</button>
    //</div>
    //<div class="formulario-questoes">
    //    <img src="~/static/q2.png" />
    //</div>`

    //        }

    //        function acertouQuestao2() {
    //        //incrementa acertos
    //         ws.innerHTML = `<h1>Correto!</h1>
    //<p>Bela sacada! Como você percebeu, o domínio do e-mail do remetente tem um erro ortográfico (“efacks”), e o link aponta para “mailru382.co”. Geralmente os ataques de phishing tentam enganar os destinatários com URLs parecidos.</p>
    //<button class="botao-alternativa" onclick="pergunta3()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function errouQuestao2() {
    //        ws.innerHTML = `<h1>Errado!</h1>
    //<p>O domínio do e-mail do remetente tem um erro ortográfico “efacks”. O nome correto seria "efax".</p>
    //<button class="botao-alternativa" onclick="pergunta3()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function clicou2() {
    //        ws.addEventListener("click", function(event) {
    //            if (event.target.innerHTML == "PHISHING") {
    //                acertouQuestao2();
    //            } else if (event.target.innerHTML == "VERDADEIRO") {
    //                errouQuestao2();
    //            }
    //            });
    //            }

    //    //Pergunta 3

    //        function pergunta3() {
    //            cont.innerHTML = `<div id="workspace" class="texto-principal">
    //    <h1>Vamos relembrar os bons tempos!</h1>
    //    <p>Você se lembra de algum colega da escola chamado TK?</p>
    //    <button class="botao-alternativa" onclick="clicou3()">PHISHING</button>
    //    <button class="botao-alternativa" onclick="clicou3()">VERDADEIRO</button>
    //</div>
    //<div class="formulario-questoes">
    //    <img src="~/static/q3.png" />
    //    <p style="display: flex; margin-left: 1rem;">oi, você se lembra<a href="www.sytez.net" style="text-decoration: none;">DESTA FOTO</a>?</p>
    //</div>`

    //        }

    //        function acertouQuestao3() {
    //        //incrementa acertos
    //         ws.innerHTML = `<h1>Correto!</h1>
    //<p>Bela sacada! Como você percebeu, o domínio do e-mail do remetente tem um erro ortográfico (“efacks”), e o link aponta para “mailru382.co”. Geralmente os ataques de phishing tentam enganar os destinatários com URLs parecidos.</p>
    //<button class="botao-alternativa" onclick="pergunta4()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function errouQuestao3() {
    //        ws.innerHTML = `<h1>Errado!</h1>
    //<p>O domínio do e-mail do remetente tem um erro ortográfico “efacks”. O nome correto seria "efax".</p>
    //<button class="botao-alternativa" onclick="pergunta4()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function clicou3() {
    //        ws.addEventListener("click", function(event) {
    //            if (event.target.innerHTML == "PHISHING") {
    //                acertouQuestao3();
    //            } else if (event.target.innerHTML == "VERDADEIRO") {
    //                errouQuestao3();
    //            }
    //            });
    //            }

    //    //Pergunta 4

    //        function pergunta4() {
    //            cont.innerHTML = `<div id="workspace" class="texto-principal">
    //    <h1>Essa, não! Parece que você está sem espaço de armazenamento.</h1>
    //    <p>Quanto será que custa o upgrade?</p>
    //    <button class="botao-alternativa" onclick="clicou4()">PHISHING</button>
    //    <button class="botao-alternativa" onclick="clicou4()">VERDADEIRO</button>
    //</div>
    //<div class="formulario-questoes">
    //    <img src="~/static/q4.png" />
    //</div>`

    //        }

    //        function acertouQuestao4() {
    //        //incrementa acertos
    //         ws.innerHTML = `<h1>Correto!</h1>
    //<p>Bela sacada! Como você percebeu, o domínio do e-mail do remetente tem um erro ortográfico (“efacks”), e o link aponta para “mailru382.co”. Geralmente os ataques de phishing tentam enganar os destinatários com URLs parecidos.</p>
    //<button class="botao-alternativa" onclick="pergunta5()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function errouQuestao4() {
    //        ws.innerHTML = `<h1>Errado!</h1>
    //<p>O domínio do e-mail do remetente tem um erro ortográfico “efacks”. O nome correto seria "efax".</p>
    //<button class="botao-alternativa" onclick="pergunta5()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function clicou4() {
    //        ws.addEventListener("click", function(event) {
    //            if (event.target.innerHTML == "VERDADEIRO") {
    //                acertouQuestao4();
    //            } else if (event.target.innerHTML == "PHISHING") {
    //                errouQuestao4();
    //            }
    //            });
    //            }

    //    //Pergunta 5

    //        function pergunta5() {
    //            cont.innerHTML = `<div id="workspace" class="texto-principal">
    //    <h1>Você recebeu um novo tipo de relatório da escola.</h1>
    //    <p>Normalmente, os e-mails dela vêm do endereço “sandra.maia@escolanota10.org”.</p>
    //    <button class="botao-alternativa" onclick="clicou5()">PHISHING</button>
    //    <button class="botao-alternativa" onclick="clicou5()">VERDADEIRO</button>
    //</div>
    //<div class="formulario-questoes">
    //    <img src="~/static/q5.png" />
    //</div>`

    //        }

    //        function acertouQuestao5() {
    //        //incrementa acertos
    //        ws.innerHTML = `<h1>Correto!</h1>
    //<p>Este foi um ataque de phishing difícil de perceber. PDFs podem conter malware ou vírus, por isso, verifique se o remetente é confiável e use o navegador ou um serviço on-line como o Google Drive para abri-los com segurança.</p>
    //<button class="botao-alternativa" onclick="pergunta6()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function errouQuestao5() {
    //        ws.innerHTML = `<h1>Errado!</h1>
    //<p>Este foi um ataque de phishing difícil de perceber. PDFs podem conter malware ou vírus, por isso, verifique se o remetente é confiável e use o navegador ou um serviço on-line como o Google Drive para abri-los com segurança.</p>
    //<button class="botao-alternativa" onclick="pergunta6()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function clicou5() {
    //        ws.addEventListener("click", function(event) {
    //            if (event.target.innerHTML == "PHISHING") {
    //                acertouQuestao5();
    //            } else if (event.target.innerHTML == "VERDADEIRO") {
    //                errouQuestao5();
    //            }
    //            });
    //            }

    //    //Pergunta 6

    //        function pergunta6() {
    //            cont.innerHTML = `<div id="workspace" class="texto-principal">
    //    <h1>Alguém está tentando acessar sua conta.</h1>
    //    <p>Observe com atenção antes de trocar sua senha.</p>
    //    <button class="botao-alternativa" onclick="clicou6()">PHISHING</button>
    //    <button class="botao-alternativa" onclick="clicou6()">VERDADEIRO</button>
    //</div>
    //<div class="formulario-questoes">
    //    <img src="~/static/q6.png" />
    //</div>`

    //            }

    //        function acertouQuestao6() {
    //        //incrementa acertos
    //        ws.innerHTML = `<h1>Correto!</h1>
    //<p>Este é quase idêntico a um ataque que hackeou e-mails de políticos. Sempre confira os URLs com atenção.</p>
    //<button class="botao-alternativa" onclick="pergunta7()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function errouQuestao6() {
    //        ws.innerHTML = `<h1>Errado!</h1>
    //<p>Este ataque usou um URL parecido com o do Gmail. Na verdade, este é quase idêntico a um ataque que hackeou e-mails de políticos. Sempre confira os URLs com atenção.</p>
    //<button class="botao-alternativa" onclick="pergunta7()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function clicou6() {
    //        ws.addEventListener("click", function(event) {
    //            if (event.target.innerHTML == "PHISHING") {
    //                acertouQuestao6();
    //            } else if (event.target.innerHTML == "VERDADEIRO") {
    //                errouQuestao6();
    //            }
    //        });
    //            }

    //    //Pergunta 7

    //        function pergunta7() {
    //            cont.innerHTML = `<div id="workspace" class="texto-principal">
    //    <h1>Parece que sua conta está sendo atacada novamente.</h1>
    //    <p>Ou será que não?</p>
    //    <button class="botao-alternativa" onclick="clicou7()">PHISHING</button>
    //    <button class="botao-alternativa" onclick="clicou7()">VERDADEIRO</button>
    //</div>
    //<div class="formulario-questoes">
    //    <img src="~/static/q7.1.png" />
    //    <div style="background-color: #f4f4f4;">
    //        <img src="~/static/q7.2.png" />
    //        <a href="www.sytez.net"><img src="~/static/q7.3.png" /></a>
    //    </div>
    //</div>`
    //            }

    //        function acertouQuestao7() {
    //        //incrementa acertos
    //        ws.innerHTML = `<h1>Correto!</h1>
    //<p>Os hackers tentaram usar o Google para esconder o link real, que é do SytezURL. Um e-mail parecido com esse foi usado para atacar think tanks e políticos.</p>
    //<button class="botao-alternativa" onclick="pergunta8()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function errouQuestao7() {
    //        ws.innerHTML = `<h1>Errado!</h1>
    //<p>Os hackers tentaram usar o Google para esconder o link real, que é do SytezURL. Um e-mail parecido com esse foi usado para atacar think tanks e políticos.</p>
    //<button class="botao-alternativa" onclick="pergunta8()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function clicou7() {
    //        ws.addEventListener("click", function(event) {
    //            if (event.target.innerHTML == "PHISHING") {
    //                acertouQuestao7();
    //            } else if (event.target.innerHTML == "VERDADEIRO") {
    //                errouQuestao7();
    //            }
    //        });
    //            }

    //    //Pergunta 8

    //        function pergunta8() {
    //            cont.innerHTML = `<div id="workspace" class="texto-principal">
    //    <h1>Você assinou um serviço de planejamento de viagens.</h1>
    //    <p>Você quer que seu e-mail seja verificado, mas olhe com mais atenção.</p>
    //    <button class="botao-alternativa" onclick="clicou8()">PHISHING</button>
    //    <button class="botao-alternativa" onclick="clicou8()">VERDADEIRO</button>
    //</div>
    //<div class="formulario-questoes">
    //    <img src="~/static/q8.1.png" />
    //    <a href="www.tripit.com"><img src="~/static/q8.2.png" /></a>
    //    <img src="~/static/q8.3.png" />
    //</div>`
    //            }

    //        function acertouQuestao8() {
    //        //incrementa acertos
    //        ws.innerHTML = `<h1>Correto!</h1>
    //<p>É importante ter cuidado com esses tipos de solicitações de acesso à conta e ter certeza de que o desenvolvedor é confiável. Confira o domínio mostrado e clique nele para saber mais detalhes.</p>
    //<button class="botao-alternativa" onclick="resultado()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function errouQuestao8() {
    //        ws.innerHTML = `<h1>Errado!</h1>
    //<p>É importante ter cuidado com esses tipos de solicitações de acesso à conta e ter certeza de que o desenvolvedor é confiável. Confira o domínio mostrado e clique nele para saber mais detalhes.</p>
    //<button class="botao-alternativa" onclick="resultado()">PRÓXIMA PERGUNTA</button>`;
    //        }

    //        function clicou8() {
    //        ws.addEventListener("click", function(event) {
    //            if (event.target.innerHTML == "VERDADEIRO") {
    //                acertouQuestao8();
    //            } else if (event.target.innerHTML == "PHISHING") {
    //                errouQuestao8();
    //            }
    //        });
    //        }
    </script>
}



