@model phishing.Models.Pergunta
@{
    ViewData["Title"] = "Pergunta";
}
<div id="numPergunta">@Model.Num_Pergunta</div>
<div id="container" class="container">
    <div id="workspace" class="texto-principal">
        <h1>@Model.Titulo</h1>
        <p>
            @Model.Descricao
        </p>
        <button id="btnProxPergunta" style="display: none;" class='botao-alternativa' onclick='avancaProximaPergunta()'>PRÓXIMA PERGUNTA</button>
        <div id="respostas">
            <button class="botao-alternativa" onclick="clicou('P')">PHISHING</button>
            <button class="botao-alternativa" onclick="clicou('V')">VERDADEIRO</button>
        </div>
    </div>
    <div class="formulario-questoes">
        <a href="drive--google.com" onclick="return false"><img src="~/static/q1.png" /></a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

    function clicou(ondeClicou) {

        var numPergunta = $('#numPergunta')[0].innerHTML;
        var respostaUsuario = ondeClicou;

        var resposta = { NumPergunta: numPergunta, RespostaPergunta: respostaUsuario }; //não pega a resposta correta, pega a resposta do usuario

        var acertou = false;
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("SalvaResposta", "Pergunta")',
            data: JSON.stringify(resposta),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (retorno) {
                acertou = retorno.acertou;
            },
            error: function () {
                alert("Error");
            }
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("RespostaPergunta", "Pergunta")',
            data: JSON.stringify(resposta),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (retorno) {
                if (acertou) {
                    $('#workspace h1').html('ACERTOU');
                }
                else {
                    $('#workspace h1').html('ERROU!');
                }
                $('#workspace p').html(retorno.descricaoResposta);
                $('#respostas').hide();
                $('#btnProxPergunta').show();
            },
            error: function () {
                alert("Error");
            }
        });

        }
    function avancaProximaPergunta() {
        var numPergunta = $('#numPergunta')[0].innerHTML;
        $.get("/Pergunta/GetNextQuestion/" + numPergunta, null, function (data) {
            $('#workspace h1').html(data.titulo);
            $('#workspace p').html(data.descricao);
            $('#respostas').show();
            $('#btnProxPergunta').hide();
            //alterar imagem também
            $('#numPergunta').html(data.numPerguntaAtual);
        });
    }
    </script>
}



